

<section class="page-section bg-primary">
    {% if products|length_is:"0" %}
        <div class="text-center">
            Désolé nous n'avons trouvé aucun résultat..
        </div>
    {% else %}
        {% for product in object_list %}
        <div class="col-lg-4 text-center">
            <a href="{% url 'details' product_id=product.id %}">
                <img class="img-responsive" style="width: 90%" src="{{ product.picture }}" alt="{{ product.name }}">
            </a>
            <h3 class="text-white-75 font-weight-light mb-5"><a>{{ product.name }}</a></h3>
        </div>
        {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    {% endif %}
</section>

