{% extends 'products/base.html' %}

{% block content %}

<header class="user_account_img">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10">
                <h1 class="text-uppercase text-white font-weight-bold">Aliment recherché</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>

<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mb-2 mt-0 mb-0">Vous pouvez remplacer cet aliment par :</h2>
            </div>
        </div>
    </div>
</section>

{% include "products/display_products.html" with on_favorite_view=False %}


{% endblock %}

