{% extends 'products/base.html' %}

{% load static %}

{% block extra_css %}
<style>
    body {
        padding-left: 45rem;
        padding-top: 12rem;
        background-image: url("{% static 'img/bg_register.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .error {
        color: red;
        text-transform: uppercase;
    }

    .pb-form {
        padding: 1rem;
        max-width: 70%;
        border: .2rem #fff solid
    }
</style>
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}