{% extends 'products/base.html' %}

{% load static %}

{% block extra_css %}
<style>
    @media (min-width: 1200px) {
        body {
        padding-left: 35rem;
        padding-top: 10rem;
        background-image: url("{% static 'img/bg_register.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        }
    }

    @media (min-width: 10px) and (max-width: 1190px){
        body {
        background-color: #86EBE6;
        }

    }

    .error {
        color: red;
        text-transform: uppercase;
    }

    .pb-form {
        padding: 1rem;
        max-width: 70%;
    }
</style>
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}