
<section class="page-section bg-three">
    {% if object_list|length_is:"0" and user.is_authenticated %}
        <div class="text-center">
            Vous n'avez pas de produits enregistrés
        </div>
    {% else %}
        <div class="container-fluid p-3">
            <div class="row align-bottom">
                {% for product in object_list %}
                    <div class="col-lg-4 text-center" style="vertical-align: bottom; border: thick double #345A61; padding-top: 5%">
                        <a href="{% url 'details' product_code=product.code %}">
                            <img class="img-responsive" style="width: 90%; max-width:150px" src="{{ product.picture }}" alt="{{ product.name }}">
                            {% if product.nutriscore == 'a' %}
                                <div class="pastille-nutriscore font-weight-bold text-dark text-center pt-3" style="background: #088A29">{{ product.nutriscore }}</div>
                            {% elif product.nutriscore == 'b' %}
                                <div class="pastille-nutriscore font-weight-bold text-dark text-center pt-3" style="background: #A4DF01">{{ product.nutriscore }}</div>
                            {% elif product.nutriscore == 'c' %}
                                <div class="pastille-nutriscore font-weight-bold text-dark text-center pt-3" style="background: #F6FF2E">{{ product.nutriscore }}</div>
                            {% elif product.nutriscore == 'd' %}
                                <div class="pastille-nutriscore font-weight-bold text-dark text-center pt-3" style="background: #FE9A2E">{{ product.nutriscore }}</div>
                            {% else %}
                                <div class="pastille-nutriscore font-weight-bold text-dark text-center pt-3" style="background: #FE0100">{{ product.nutriscore }}</div>
                            {% endif %}
                        </a>
                        <h4 class="text-black-75 font-weight-light mb-3"><a>{{ product.name }} de {{ product.brand }}</a></h4>
                        {% if user.is_authenticated %}
                            {% with product.is_favorite as is_favorite %}
                                {% if is_favorite and on_favorite_view %}
                                    <form method="post" action="/products/delete_product/">
                                {% else %}
                                    <form method="post" action="/products/save_product/">
                                {% endif %}
                            {% csrf_token %}
                            {% if is_favorite and on_favorite_view  %}
                                <i class="fas fa-trash fa-3x" style="margin-right: 10px; margin-bottom: 10px" aria-hidden="true" ></i>
                                <input type="submit" class="btn btn-primary btn-product-2 js-scroll-trigger mb-5" name="delete_favorite" value="Supprimer des favoris"/>
                            {% elif is_favorite  %}
                                <span>Ce produit est déjà dans vos favoris</span>
                            {% else %}
                                <i class="fas fa-save fa-3x" style="margin-right: 20px; color: white; margin-bottom: 10px" aria-hidden="true"></i>
                                <input type="submit" class="btn btn-primary btn-product-2 js-scroll-trigger mb-5" name="save_favorite" value="Sauvegarder"/>
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product.id }}"/>
                            </form>
                            {% endwith %}
                        {% endif %}
                    </div>
                    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
                {% endfor %}
            </div>
        </div>

    {% endif %}
    <nav class="align-items-center text-center align-self-baseline">
        {% if is_paginated %}
            <ul class="pagination-lg">
                {% if page_obj.has_previous %}
                    <a class="btn btn-secondary" href="?product={{ query }}&page={{ page_obj.previous_page_number }}">Précédent</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary" href="?product={{ query }}&page={{ page_obj.next_page_number }}">Suivant</a>
                {% endif %}
                </br>
                <a>Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</a>
            </ul>
        {% endif %}
    </nav>
</section>
